<%- include("../includes/header.ejs", {title:"Address - " + result[0].street}); %>
<h1>Address</h1>
<ul>
    <li>Address Street: <%= result[0].street %></li>
    <li>Zipcode:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].zip_code %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>